.npx-bg-primary {
    background-color: #394867;
}
.npx-bg-secondary {
    background-color: #212A3E;
}
.npx-bg-tertiary {
    background-color: #9BA4B5;
}
.npx-bg-background {
    background-color: #F1F6F9;
}
